[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
ipykernel = "*"
pandas = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
ipywidgets = "*"
# https://stackoverflow.com/a/75603666
notebook = "==6.1.5"
gql = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
setup = "./jupyter_setup.sh"
notebook = "jupyter notebook"
notebook-debug = "jupyter notebook --debug"
